// $primary: #20c997;

// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }
// $headings-line-height: null;

$card-bg: #e7e7e7;
$list-group-bg: #e7e7e7;

$list-group-item-padding-y: 0;
$list-group-item-padding-x: 0;
$list-group-border-width: 0;
